body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
}

td {
	font-family: "Times New Roman", Times, serif;
}

th {
	font-family: "Times New Roman", Times, serif;
}